@import './variables.scss';
@import "./logo.scss";
@import "./posts.scss";
@import "./searchBar.scss";
@import "./recentPosts.scss";

html {
    font-size: 62.5%; // 1rem is 10px
}

body {
    overflow-x: hidden;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home {
    height: 100vh;
    width: 66vw;
    display: grid;
    align-content: space-around;
    justify-items: stretch;
    //grid-template-rows: 1fr 2fr 1fr;
}

 ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }